.rich_wrap {
    .rich-render-warp {
        position: fixed;
        z-index: 9999;
        right: 1rem;
        bottom: 1rem;
        width: 500px;
        height: 700px;
        border: 2px solid #ccc;
        overflow-y: scroll;
        margin: 0;
        padding: 0;
        font-size: 16px;
        text-align: center;

        img {
            max-width: 100%;
        }

        .article-preview {}

        // background-color: #fff;
    }
}