.rich_wrap {
    height: 80%;
    display: flex;
    justify-content: center;

    .rich-render-warp {
        // position: fixed;
        // z-index: 9999;
        right: 1rem;
        bottom: 1rem;
        width: 500px;
        min-height: 100%;
        border: 1px solid rgb(241, 241, 241);
        overflow-y: scroll;
        padding: 0;
        margin: 0 32px;
        font-size: 16px;
        text-align: center;
        background-color: #fff;

        img {
            max-width: 100%;
        }

        .article-preview {
            box-sizing: border-box;
            padding: 0 16px;

            * {
                word-break: break-all;
            }
        }

        // background-color: #fff;
    }
}