.rich_wrap {
    .rich-render-warp {
        position: fixed;
        z-index: 9999;
        right: 1rem;
        bottom: 1rem;
        width: 400px;
        height: 700px;
        border: 2px solid #ccc;

        .article-preview {
            max-height: 700px;
            overflow-y: scroll;
        }

        // background-color: #fff;
    }
}