.rich_wrap {
    padding-top: 24px;
    height: 80%;
    display: flex;
    justify-content: center;

    .rich-render-warp {
        position: relative;
        // position: fixed;
        // z-index: 9999;
        right: 1rem;
        bottom: 1rem;
        width: 400px;
        min-height: 100%;
        border: 1px solid rgb(241, 241, 241);
        overflow-y: scroll;
        padding: 0;
        margin: 0 32px;
        font-size: 16px;
        // text-align: center;

        // background-color: #fff;
        img {
            max-width: 100%;
            height: auto !important;
        }

        .article-preview {
            box-sizing: border-box;
            padding: 0 16px;
            /*设置图片大小*/

            * {
                word-break: break-all;
            }
        }
    }

    .jodit-workplace {
        // * {
        //     text-align: center;
        // }
    }
}