@import './mixin.scss';
@import './icon.css';

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-box {
    display: flex;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}