body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root,
body,
html {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}


.notive-wrap {
  z-index: 9999999;
}

.modal-button {
  font-size: 1.4rem;
  color: #0084ff !important;
  /* color: #0073ff; */
}

.modal-button-wrap:before {
  border-top: 1px solid rgb(245, 245, 245) !important;
}

.modal-button:before {
  border-top: 1px solid rgb(245, 245, 245) !important;
}

.modal-button:nth-child(1)::before {
  border-top: none !important;
}

.modal-mask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .5);
}