body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root,
body,
html {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.layout {
  width: 100%;
  height: 100%;
}


.modal-mask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .5);
  animation: ans 300ms;
}

.za-loading__container {
  width: 8rem !important;
  height: 8rem !important;
}

.loadingBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .box-text {
    margin-top: 1.2em;
  }
}

.box-text {
  margin-top: 0.8rem;
  color: #fff;
}

.swiper_wrap {
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  overflow: hidden;
  box-sizing: border-box;
}


@keyframes ans {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}