// @import '../../components/styles/icon/icon.css';
.tabbar-wrap {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    justify-content: space-around;
    border-top: 1px solid rgb(236, 236, 236);
    background-color: #fff;
    z-index: 99;

    ._widthAuto {
        width: 30%;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        color: #999;
    }

    .icon_wrap {
        width: 3rem;
        height: 3rem;
        margin-bottom: 0.1rem;
        overflow: hidden;

        .iconfont {
            font-size: 2.5rem;
            color: inherit;
        }
    }

    .text-main {
        color: #f33838;
    }

}